@use 'vars' as *

body
  display: flex
  flex-direction: column
  min-height: 100vh

  font: 500 16px/1.63 $main-font
  
  background-color: $white
  color: $text

.page
  flex: 1 0 auto

.container
  max-width: 1170px + 30px
  margin: 0 auto
  padding: 0 15px

.btn
  padding: 12px 26px

  font-family: $second-font
  text-transform: uppercase

  color: $white
  background-color: $primary
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3)